// General

* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    font-family: "Quicksand", sans-serif;

}

// Header and Nav

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 1em;
    position: absolute;
    width: 100%;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
    list-style: none;
}

.nav-item {
    padding-left: 1em;
    padding-top: 1em;
    opacity: 0.75;
    transition-duration: .5s;

}

h2 a {
    opacity: 0.75;


}

li.nav-item:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

//Content

.hero {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    color: white;

}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}


.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;

}

.btn {
    background: blue;
    border-radius: 4px;
    transition-duration: .5s;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background: darkblue;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}